<div class="navbar-top">
  <div class="logo-container">
    <div class="logo-upper"></div>
    <div class="logo-bottom"></div>
    <img class="logo-image" src="../assets/logo.svg">
  </div>
  <img class="theme-button" src="../assets/icon-sun.svg">
  <div class="user-icon-box">
    <img class="user-icon" src="../assets/image-avatar.jpg">
  </div> 
</div>
<!-- Top Row Under The Nav-->
<div class="invoice-nav">
  <div class="invoice-info">
    <h1 class="invoice-info-header"> Invoices </h1>
    <p class="invoice-info-content"> # of Invoices </p>
  </div>
    <h2 class="filter-select"> Filter </h2>
  <img class="icon-arrow-down" src="../assets/icon-arrow-down.svg">
  <button class="new-invoice-btn">
    <div class="add-indicator">
      <img class="add-indicator-img" src="../assets/icon-plus.svg">
    </div>
    <div class="btn-text">
      <p>New</p>
    </div>
  </button>
</div>