<div class="planet-img-container">
    <img *ngIf="this.infoMode=='overview'" class="planet-img" style="width: {{planet.imgSize}}"
        src="../assets/{{planet.externalImg}}">
    <img *ngIf="this.infoMode=='structure'" class="planet-img" style="width: {{planet.imgSize}}"
        src="../assets/{{planet.internalImg}}">
    <img *ngIf="this.infoMode=='surface'" class="planet-img" style="width: {{planet.imgSize}}"
        src="../assets/{{planet.externalImg}}">
    <img *ngIf="this.infoMode=='surface'" class="planet-indicator" src="../assets/{{planet.geologyImg}}">
</div>
<h1 class="planet-header"> {{planet.name | uppercase }} </h1>

<!-- Text -->
<div *ngIf="this.infoMode == 'overview'" class="planet-overview">
    <p>{{planet.overview}}</p>
</div>
<div *ngIf="this.infoMode == 'structure'" class="planet-overview">
    <p>{{planet.structure}}</p>
</div>
<div *ngIf="this.infoMode == 'surface'" class="planet-overview">
    <p>{{planet.surface}}</p>
</div>
<div class="wiki">
    <a>Source: Wikipedia</a>
</div>
<div class="fact-container">
    <p class="fact-label">ROTATION TIME</p>
    <h2> {{planet.rotationTime}} </h2>
</div>
<div class="fact-container">
    <p class="fact-label">REVOLUTION TIME</p>
    <h2> {{planet.revolutionTime}} </h2>
</div>
<div class="fact-container">
    <p class="fact-label">RADIUS</p>
    <h2> {{planet.radius}} </h2>
</div>
<div class="fact-container">
    <p class="fact-label"> AVERAGE TEMP.</p>
    <h2> {{planet.averageTemp}} </h2>
</div>