@import "../../styles/styles";

:host {
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem 2.5rem 1.5rem;
    color: white;
    place-items: center;
}

.planet-desktop-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.planet-overview {
    text-align: center;
    width: 87vw;
    margin-bottom: 2rem;
}

.planet-img-container {
    display: flex;
    flex-direction: column;
    height: 32vh;
    justify-content: center;
}

.planet-img-container-desktop {
    display: none;
}

.planet-img {
    max-height: 200px;
    max-width: 200px;
}

.planet-indicator {
    width: 10vw;
    position: absolute;
    transform: translate(50%, 50%);
}

.planet-info {
    display: flex;
    flex-direction: column;
    place-items: center;
    min-height: 300px;
}

.planet-info-left {
    display: flex;
    flex-direction: column;
    place-items: center;
}

.planet-info-right {
    display: none;
}

.planet-header {
    margin-bottom: 1rem;
}

.wiki {
    margin-bottom: 1.75rem;
}

.fact-card-container {
    display: flex;
    flex-direction: row;
    border: 1px solid $border-gray;
    width: 87vw;
    height: 5vh;
    margin-bottom: 1vh;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem 0 1.5rem;
}

.fact-label {
    font-size: 0.75rem;
    line-height: 1rem;
    color: #ffffff80;
}

@media screen and (min-width: 768px) {
    :host {
        flex-direction: column;
    }

    .clear-background {
        background-color: unset;
    }

    .planet-info {
        flex-direction: row;
        width: 85vw;
        justify-content: space-between;
        align-items: center;
    }

    .planet-img-container {
        height: 60vh;
    }

    .planet-img {
        max-width: 300px;
        max-height: 300px;
    }
    .planet-indicator {
        max-width: 70px;
    }

    .planet-info-left {
        place-items: self-start;
        width: 45vw;
        min-height: 200px;
    }

    .planet-info-right {
        display: flex;
        flex-direction: column;
        width: 30vw;
        min-height: 200px;
    }

    /* Mixin */
    .planet-info-right-btn {
        // flex
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        // position
        width: 30vw;
        height: 6vh;
        // styling
        border: 1px solid $border-gray;
        // margins
        margin-bottom: 1vh;
        padding: 0 1.5rem 0 1.5rem;
    }

    .fact-label {
        margin-right: 1.5rem;
    }
    .planet-overview {
        text-align: left;
        width: unset;
    }

    .fact-card {
        display: flex;
        flex-direction: row;
        width: 85vw;
        justify-content: space-between;
    }

    .fact-card-container {
        flex-direction: column;
        width: 20vw;
        height: 10.5vh;
        padding: 1rem;
        justify-content: space-around;
        align-items: baseline;
    }
}

@media screen and (min-width: 1440px) {
    .planet-desktop-container {
        flex-direction: row;
        height: 65vh;
    }

    .planet-img-container {
        display: none;
        // width: 55vw;
        // align-items: center;
    }

    .planet-img-container-desktop {
        display: flex;
        flex-direction: column;
        width: 55vw;
        align-items: center;
    }
    .planet-info {
        flex-direction: column;
        width: 33vw;
    }

    .planet-info-left,
    .planet-info-right,
    .planet-info-right-btn {
        width: 20vw;
    }

    .planet-info-right-btn {
        height: 5vh;
    }

    .planet-indicator {
        transform: translate(2%, 284%);
    }

    .planet-img {
        max-width: 400px;
        max-height: 400px;
    }

    .fact-card-container {
        height: 11.5vh;
    }
}
