@import "../styles/styles";

.app-grid {
    display: grid;
    grid-template-rows: 68px 68px 1fr;
    grid-template-areas:
        "grid-menu-nav"
        "grid-fact-menu"
        "grid-fact-menu-nav"
        "grid-planet-facts";
    min-width: 375px;
}

.planet-menu-text {
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 1.5px;
    color: white;
}

.fact-menu-nav {
    display: none;
}

/* Menu */

.menu-nav {
    grid-area: grid-menu-nav;
    display: flex;
    flex-direction: row;
    color: white;
    font-family: "Antonio";
    border-bottom: 1px solid $border-gray;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
}

.menu-button {
    display: inline-block;
    cursor: pointer;
    transform: translateY(5px);
    transition: 0.4s;
}

.menu-button:hover {
    opacity: 0.3;
}

.planet-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 1;
}

.planet-list > li {
    margin: 0 1rem;
    overflow: hidden;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

li:hover {
    cursor: pointer;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 3px;
    width: 30px;
}

.menu-button::before {
    content: "";
    margin-top: -8px;
}

.menu-button::after {
    content: "";
    margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

@media (max-width: 768px) {
    .menu-button-container {
        display: flex;
    }
    .planet-list {
        font-family: "League Spartan", sans-serif;
        position: absolute;
        top: 0;
        margin-top: 68px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    #menu-toggle ~ .planet-list li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .planet-list li {
        border-bottom: 1px solid purple;
        height: 13vh;
        width: 100%;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
        background-color: #070724;
        display: flex;
        justify-content: space-around;
    }

    .planet-list > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: #222;
        align-items: center;
    }

    .planet-list > li:not(:last-child) {
        border-bottom: 1px solid #444;
    }
}

/* Second navbar */
.fact-nav {
    grid-area: grid-fact-menu;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    letter-spacing: 2px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #97979750;
}

.fact-nav-btn {
    height: 48px;
}

.fact-nav-btn:hover {
    cursor: pointer;
}

.clear-border {
    border: none;
}

.planet-facts {
    grid-area: grid-planet-facts;
}

h2 {
    vertical-align: center;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .menu-button,
    .menu-button-container {
        display: none;
        pointer-events: none;
    }

    .app-grid {
        display: grid;
        grid-template-rows: 159px 68px 1fr;
        grid-template-areas:
            "grid-fact-menu-nav"
            "grid-planet-facts";
        min-width: 375px;
    }

    .menu-nav,
    .fact-nav {
        display: none;
    }

    .fact-menu-nav {
        display: flex;
        flex-direction: column;
        place-items: center;
        padding-top: 2rem;
        border-bottom: 1px solid $border-gray;
    }

    .fact-menu-nav h1 {
        margin-bottom: 10px;
    }
    .planet-nav {
        display: flex;
        justify-content: space-evenly;
        place-items: center;
        width: 100%;
        height: 100%;
    }

    .planet-nav p {
        color: #ffffff80;
        transition: 0.3s;
    }

    .planet-nav p:hover {
        color: #ffffff;
    }

    .planet-menu-text:hover {
        cursor: pointer;
    }
}
