@import "../styles/styles";

.nav-add-menu {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 3.5rem;
    background-color: $color-3;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem 0 1.5rem;
}