@import "../styles/styles";

.nav-add-menu {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 3.5rem;
    background-color: $color-3;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem 0 1.5rem;
    margin-bottom: 1.25rem;
    min-width: 375px;
}

.sort-by {
    font-size: 13px;
    color: $color-4;
}

.add-feedback {
    background-color: $color-1;
    color: $color-4;
    border-radius: 10px;
    width: 35.7vw;
    height: 40px;
    font-weight: 700;
    font-size: 13px;
    text-align: center;
}

.upvote-dropdown {
    display: flex;
    flex-direction: row;
    width: 45vw;
}

.upvote-dropdown-text {
    color: $color-4;
    margin-left: 6px;
    padding-bottom: 2px;
}

.arrow-down {
    filter: brightness(0) invert(1);
    width: 8px;
    height: 6px;
    align-self: center;
    margin: 0 6px 0 6px;
}
