@import "./reset";
@import "./variables";

body {
    font-family: "Jost";
    background-color: $color-6;
    min-width: 375px;
}

h1 {
    font-size: 1.5rem;
    line-height: 35px;
    letter-spacing: -0.33px;
    font-weight: 700;
}

h2 {
    font-size: 1.25rem;
    line-height: 29px;
    letter-spacing: -0.25px;
    font-weight: 700;
}

h3 {
    font-size: 1.125rem;
    line-height: 26px;
    letter-spacing: -0.25px;
    font-weight: 700;
}

h4 {
    font-size: 0.875rem;
    line-height: 20px;
    letter-spacing: -0.2px;
    font-weight: 700;
}

mat-basic-chip {
    background-color: $color-5;
    color: $color-2;
    font-size: 13px;
    font-weight: 600;
    height: 30px;
    border-radius: 10px;
    padding: 5px 16px 5px 16px;
}

a,
button {
    all: unset;
}

a:hover,
button:hover {
    cursor: pointer;
}

.body-1 {
    font-size: 1rem;
    line-height: 23px;
    font-weight: 400;
}

.body-2 {
    font-size: 0.9375rem;
    line-height: 22px;
    font-weight: 400;
}

.body-3 {
    font-size: 0.8125rem;
    line-height: 19px;
    font-weight: 600;
}
