@import "../../styles/styles";
@import "../../styles/variables";

/* Mixins in ../styles/mixin */
.main-container {
    @include container((flex), (column), (100vw), null);
}

.main-container .hero-shrimp {
    max-width: 100%;
}

.hero-container {
    @include container((flex), (column), (100vw), (null));
    position: absolute;
    margin-top: 215px;
    align-items: center;
    background-color: black;
    padding: 1.5rem 1.5rem 3rem 1.5rem;
    justify-content: space-evenly;
}

.hero-header-logo {
    @include font-style(
        $primary-white,
        map-get($font-weight-header, "l"),
        map-get($font-size-header, "l"),
        map-get($line-height-header, "l"),
        map-get($letter-spacing, "l")
    );
    margin-bottom: 2rem;
}

/* Figma design doc doesn't adhere to its own design...*/
.hero-header {
    @include font-style($primary-white, map-get($font-weight-header, "xl"), (2rem), (2.5rem), (-0.4px));
    width: 60%;
    text-align: center;
    margin-bottom: 1.3rem;
}

.hero-text {
    @include font-style(
        $primary-white,
        map-get($font-weight-body, "body"),
        map-get($font-size-body, "body-2"),
        map-get($line-height-body, "body-2"),
        map-get($letter-spacing, "none")
    );
    text-align: center;
    margin-bottom: 1.3rem;
}

.family-container {
    @include container((flex), (column), (100vw), (null));
    background-color: white;
    transform: translateY(-50px);
    align-items: center;
    margin-bottom: 5rem;
}

.family-info-desktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divide {
    width: 80px;
    align-self: center;
    margin-bottom: 2.25rem;
}

.pattern-img {
    display: none;
}

.family-forest-img {
    width: 87vw;
    align-self: center;
    margin-bottom: -45px;
    transform: translateY(265px) translateY(-95vw);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07),
        0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

.family-header {
    @include font-style($primary-text, map-get($font-weight-header, "l"), (2rem), (2.5rem), (-0.4px));
    text-align: center;
    width: 65%;
    margin-bottom: 0.8125rem;
}

.family-text {
    @include font-style(
        $primary-text,
        map-get($font-weight-body, "body"),
        map-get($font-size-body, "body-2"),
        map-get($line-height-body, "body-2"),
        map-get($letter-spacing, "none")
    );
    text-align: center;
    margin-bottom: 1.3rem;
    padding: 1rem;
}

.locally-sourced-img {
    width: 87vw;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07),
        0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
    margin-bottom: 4rem;
    align-self: center;
}
.locally-sourced-container {
    @include container((flex), (column), (100vw), (null));
    background-color: white;
    transform: translateY(-50px);
    align-items: center;
    margin-bottom: 2rem;
}

.locally-sourced-header,
.locally-sourced-text {
    text-align: center;
}

.locally-sourced-header {
    width: 62vw;
    margin-bottom: 13px;
}

.locally-sourced-text {
    padding: 1rem;
}

.locally-sourced-desktop {
    @include container((flex), (column), (100vw), (null));
    align-items: center;
}

.menu-items-container {
    @include container((flex), (column), (100vw), (null));
    background-color: $primary-text;
    align-items: center;
    padding-top: 4rem;
}

.menu-items-main-header {
    @include font-style($primary-white, map-get($font-weight-header, "l"), (2rem), (2.5rem), (-0.4px));
    text-align: center;
    width: 65%;
    margin-bottom: 0.8125rem;
}

.menu-items-header {
    @include font-style(
        $primary-white,
        map-get($font-weight-header, "m"),
        map-get($font-size-header, "m"),
        map-get($line-height-header, "m"),
        map-get($letter-spacing, "m")
    );
    text-align: center;
    width: 100%;
    margin-bottom: 0.8125rem;
}

.menu-items-desktop {
    @include container((flex), (column), (100vw), (null));
    align-items: center;
}
.menu-items-text {
    @include font-style(
        $primary-white,
        map-get($font-weight-body, "body"),
        map-get($font-size-body, "body-2"),
        map-get($line-height-body, "body-2"),
        map-get($letter-spacing, "none")
    );
    text-align: center;
    margin-bottom: 1.3rem;
    padding: 1rem;
}

.menu-item-line {
    border-top: 0.25px solid gray;
    opacity: 0.5;
    width: 87vw;
    margin-bottom: 1.5rem;
}

.menu-item-img {
    width: 87vw;
    margin-bottom: 2.25rem;
}

/* 
 * Highlight Items 
 */
.menu-items-highlight-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-items-highlight-description {
    display: flex;
    flex-direction: column;
}

.family-gathering-container {
    @include container((flex), (column), (100vw), (null));
    background-color: white;
    padding-top: 5rem;
    align-items: center;
    margin-bottom: 10rem;
}

.family-gathering-right {
    @include container((flex), (column), (100vw), (null));
    align-items: center;
}

.beige-lines-2 {
    align-self: flex-start;
    padding-left: 23px;
    transform: translate(-280px, 35px);
    position: absolute;
    z-index: 2;
}

.family-gathering-img {
    width: 87vw;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07),
        0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
    margin-bottom: 3rem;
    align-self: center;
    position: relative;
}

.family-gathering-header-small {
    @include font-style(
        $secondary-header,
        map-get($font-weight-header, "s"),
        map-get($font-size-header, "s"),
        map-get($line-height-header, "s"),
        map-get($letter-spacing, "s")
    );
    padding: 0.5rem;
    border: 2px solid transparent;
    opacity: 0.5;
}

.family-gathering-header-small:hover {
    cursor: pointer;
    text-underline-offset: 10px;
    text-decoration: 2px underline solid #9e7f66;
    opacity: 1;
}

.family-gathering-header-small-clicked {
    border-bottom: 2px solid #9e7f66;
}

/* Design Doc has more undocumented designs ...*/
.family-gathering-header-large {
    @include font-style($secondary-color, map-get($font-weight-header, "l"), (2rem), (2.5rem), (-0.4px));
    margin-bottom: 1rem;
}

.family-gathering-divide {
    border-top: 1px solid $divide;
    width: 15vw;
    transform: translateY(-0.5rem);
}

.family-select {
    margin-bottom: 0.85rem;
}

.reservation-container {
    @include container((flex), (column), (100vw), (328px));
    background-image: url(../../assets/homepage/ready-bg-mobile@2x.jpg);
    background-repeat: no-repeat;
    align-items: center;
    justify-content: space-evenly;
}

/*
 * Tablet
 */

@media screen and (min-width: $tablet-breakpoint) {
    .hero-container {
        margin-top: 375px;
        height: 570px;
        padding: 0;
        justify-content: unset;
    }
    .hero-text {
        color: #ffffff;
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 1.875rem;
        letter-spacing: 0px;
        text-align: center;
        margin-bottom: 3.25rem;
        width: 75vw;
    }

    .hero-header {
        color: #ffffff;
        font-weight: 300;
        font-size: 3rem;
        line-height: 4rem;
        letter-spacing: -0.4px;
        text-align: center;
        margin-bottom: 1.3rem;
        width: 40vw;
    }

    .beige-lines-1,
    .beige-lines-2 {
        width: 15.8vw;
        height: 80px;
    }

    .beige-lines-1 {
        transform: translate(41vw, 1000%);
    }

    .beige-lines-2 {
        transform: translate(2vw, 60px);
        padding-left: 0;
    }

    .family-forest-img {
        margin-bottom: calc(-10px - 30vw); /* :( */
        transform: translateY(310px) translateY(-55vw);
    }

    .family-header {
        width: 50vw;
        color: #111111;
        font-weight: 700;
        font-size: 3rem;
        line-height: 3rem;
        letter-spacing: -0.5px;
        text-align: center;
        margin-bottom: 0.8125rem;
    }

    .family-text {
        color: #111111;
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 1.875rem;
        letter-spacing: 0px;
        text-align: center;
        margin-bottom: 0;
        width: 60vw;
    }

    .family-select {
        display: flex;
        flex-direction: row;
        width: 100vw;
        justify-content: space-evenly;
        margin-bottom: 3rem;
    }

    .locally-sourced-header {
        font-size: 3rem;
        line-height: 3rem;
        letter-spacing: 0.5px;
    }

    .locally-sourced-text {
        font-size: 1.25rem;
        line-height: 1.875rem;
        letter-spacing: 0;
        width: 60vw;
    }
    .menu-items-main-header {
        width: 50vw;
        color: white;
        font-weight: 700;
        font-size: 3rem;
        line-height: 3rem;
        letter-spacing: -0.5px;
        text-align: center;
        margin-bottom: 0.8125rem;
    }

    .menu-item-img {
        width: 87vw;
        margin-bottom: 2rem;
    }

    .menu-items-header {
        text-align: unset;
        width: 100%;
    }

    .menu-items-text {
        color: white;
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 1.875rem;
        letter-spacing: 0px;
        text-align: center;
        margin-bottom: 3.375rem;
        width: 55vw;
        text-align: left;
        padding: 0;
    }

    .menu-items-highlight-container {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid $secondary-body;
        width: 85vw;
        margin-bottom: 2.1rem;
    }

    .menu-items-highlight-description {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem 2rem 2rem 2rem;
    }

    .menu-item-img {
        width: 25vw;
    }

    .pattern-img {
        display: inline;
        transform: translate(-50vw, -0vw);
        margin-bottom: -100px;
    }

    .pattern-img-left {
        transform: translate(-52vw, 0px);
        margin-bottom: -250px;
        opacity: 1;
        position: relative;
        z-index: 0;
    }

    .family-container {
        margin-bottom: 5rem;
    }
    .family-text {
        margin-bottom: 5rem;
    }

    .reservation-container {
        @include container((flex), (column), (100vw), (328px));
        background-image: image-url("../../assets/homepage/ready-bg-tablet@2x.jpg");
        background-size: cover;
    }
}

/*
 * Desktop Design
 * Mostly visual jiu jitsu with transforms and unsetting margins due to unique design.
 */

@media screen and (min-width: $desktop-breakpoint) {
    .hero-container {
        margin-top: 0;
        width: 35vw;
        height: unset;
        align-items: flex-start;
        padding: 4rem 0 0 13.3vw;
    }

    .hero-header-logo {
        margin-bottom: 9.5rem;
    }

    .hero-header {
        font-size: 80px;
        font-weight: 300;
        line-height: 80px;
        font-style: normal;
        letter-spacing: -1px;
        text-align: left;
    }

    .hero-text {
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        text-align: left;
        width: 29vw;
    }

    .family-container {
        flex-direction: row;
        width: 100vw;
        transform: unset;
        justify-content: center;
        padding: 0 11.5vw 0 11.5rem;
        z-index: 2;
        margin-bottom: -6rem;
    }

    .family-header {
        text-align: left;
        width: 25vw;
    }

    .family-text {
        align-items: center;
    }

    .divide {
        margin-right: 300px;
        transform: translateX(-2vw);
    }

    .pattern-img {
        transform: unset;
        position: absolute;
        height: 320px;
        transform: translateX(-18vw);
        width: 65vw;
    }

    .pattern-img-left {
        transform: translate(-32vw, 0px);
    }

    .family-info-desktop {
        align-items: baseline;
        margin-left: 10vw;
    }

    .family-text {
        grid-area: grid-text;
        padding: unset;
        text-align: left;
        align-self: end;
    }

    .family-gathering-btn {
        grid-area: grid-button;
        align-self: end;
    }

    .family-select {
        flex-direction: column;
        width: 100%;
        grid-area: grid-select;
        align-self: end;
    }

    .family-forest-img {
        all: unset;
        width: 37.5vw;
        transform: translateY(-50px);
    }

    .family-text {
        width: 100%;
    }

    /* Flexbox goes right to left which requires changes direction of text-align and order of the elements */
    .locally-sourced-container {
        flex-direction: row;
        direction: rtl;
        justify-content: space-between;
    }

    .locally-sourced-img {
        width: 37.5vw;
        transform: translate(-10vw, 200px);
    }

    .locally-sourced-desktop {
        display: flex;
        flex-direction: column;
        align-items: end;
        margin-left: 13vw;
        align-self: center;
        transform: translateY(150px);
    }

    .locally-sourced-header {
        width: 25vw;
        color: #111111;
        font-weight: 700;
        font-size: 3rem;
        line-height: 3rem;
        letter-spacing: -0.5px;
        margin-bottom: 0.8125rem;
        direction: ltr;
        text-align: left;
        transform: translateX(1vw);
    }

    .locally-sourced-text {
        color: #111111;
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 1.875rem;
        letter-spacing: 0px;
        text-align: left;
        direction: ltr;
        width: 30vw;
    }

    .beige-lines-1 {
        width: 11vw;
        transform: translate(-2vw, 75px);
        position: absolute;
        z-index: 2;
        height: 75px;
    }

    .menu-items-container {
        flex-direction: row;
    }

    .menu-items-desktop {
        display: flex;
        flex-direction: column;
        width: 50vw;
        align-items: center;
        margin-bottom: 250px;
    }

    .menu-highlight-container {
        display: flex;
        flex-direction: column;
        width: 50vw;
        padding-top: 100px;
    }

    .menu-items-main-header {
        width: 35vw;
        text-align: left;
        margin-left: 8%;
    }

    // Pictures of Seared Salmon, Filet Mignon, Mousse
    .menu-items-highlight-container {
        width: 100%;
        margin-bottom: 0;
    }

    .menu-items-highlight-container:last-child {
        border-bottom: none;
        margin-bottom: 7.5rem;
    }

    .menu-items-text {
        width: 31vw;
        margin-bottom: 0;
    }
    .menu-item-img {
        width: 11.25vw;
    }

    .family-gathering-container {
        all: unset;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: unset;
        width: 100vw;
        margin: 10rem 0 10rem 0;
    }

    .family-gathering-header-small {
        padding: 0.5rem 0 0.5rem 0;
    }

    .family-gathering-header-small:hover:after {
        content: "";
        display: block;
        top: 0px;
        left: 0px;
        width: 35%;
        height: 100%;
        border-bottom: 2px solid #9e7f66;
        transform: translate(-12vw, -17px);
        pointer-events: none;
    }

    .family-gathering-header-small:hover {
        text-decoration: none;
    }

    .beige-lines-2 {
        width: 11vw;
        position: absolute;
        transform: translate(6vw, 130px);
        height: 75px;
    }

    .family-gathering-img {
        display: flex;
        width: 37.5vw;
        margin: 0 0 0 11.4vw;
        transform: translateX(-35px);
        margin-right: 8.6vw;
    }

    .family-gathering-right {
        display: grid;
        grid-template-rows: 91px 183px 32px 256px;
        grid-template-areas:
            "grid-header"
            "grid-text"
            "grid-button"
            "grid-select";
        justify-content: space-between;
        width: 50vw;
        padding-right: 11.11vw;
        height: 530px;
    }

    .family-gathering-header-large {
        grid-area: grid-header;
        align-self: end;
        font-size: 3rem;
    }

    // Line
    .family-gathering-divide {
        transform: translate(0px, -0.5rem);
    }

    .reservation-container {
        @include container((flex), (row), (100vw), (328px));
        background-image: url(../../assets/homepage/ready-bg-mobile@2x.jpg);
        background-repeat: no-repeat;
        align-items: center;
        justify-content: space-between;
    }

    .book-button-transparent {
        margin-right: 10vw;
    }
}
