@import "../styles/styles";
@import "../styles/variables";

/* Mixins in ../styles/mixin */
.main-container {
    @include container((flex), (column), (100vw), null);
}

.main-container .hero-shrimp {
    max-width: 100%;
}

.hero-container {
    @include container((flex), (column), (100vw), (null));
    position: absolute;
    margin-top: 215px;
    align-items: center;
    background-color: black;
    padding: 1.5rem 1.5rem 3rem 1.5rem;

    justify-content: space-evenly;
}

.hero-header-logo {
    @include font-style(
        $primary-white,
        map-get($font-weight-header, "l"),
        map-get($font-size-header, "l"),
        map-get($line-height-header, "l"),
        map-get($letter-spacing, "l")
    );
    margin-bottom: 2rem;
}

/* Figma design doc doesn't adhere to its own design...*/
.hero-header {
    @include font-style($primary-white, map-get($font-weight-header, "xl"), (2rem), (2.5rem), (-0.4px));
    width: 60%;
    text-align: center;
    margin-bottom: 1.3rem;
}

.hero-text {
    @include font-style(
        $primary-white,
        map-get($font-weight-body, "body"),
        map-get($font-size-body, "body-2"),
        map-get($line-height-body, "body-2"),
        map-get($letter-spacing, "none")
    );
    text-align: center;
    margin-bottom: 1.3rem;
}

.book-button-white {
    border: 2px solid white;
    background-color: black;
    color: white;
    height: 50px;
    width: 65%;
    transition: 0.3s;
}

.book-button-white:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

.book-button-black {
    border: 2px solid black;
    background-color: white;
    color: black;
    height: 50px;
    width: 65%;
    padding: 1rem;
    transition: 0.3s;
    padding-bottom: 2rem;
}

.book-button-black:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

.book-button-transparent {
    border: 2px solid white;
    background-color: transparent;
    color: white;
    height: 50px;
    width: 65%;
    transition: 0.3s;
}
.book-button-transparent:hover {
    cursor: pointer;
    background-color: white;
    color: rgba(0, 0, 0, 0.5);
}

.family-container {
    @include container((flex), (column), (100vw), (null));
    background-color: white;
    transform: translateY(-50px);
    align-items: center;
    margin-bottom: 5rem;
}

.divide {
    width: 80px;
    align-self: center;
    margin-bottom: 2.25rem;
}

.family-forest-img {
    width: 87vw;
    align-self: center;
    transform: translateY(-65px);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07),
        0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

.family-header {
    @include font-style($primary-text, map-get($font-weight-header, "l"), (2rem), (2.5rem), (-0.4px));
    text-align: center;
    width: 65%;
    margin-bottom: 0.8125rem;
}

.family-text {
    @include font-style(
        $primary-text,
        map-get($font-weight-body, "body"),
        map-get($font-size-body, "body-2"),
        map-get($line-height-body, "body-2"),
        map-get($letter-spacing, "none")
    );
    text-align: center;
    margin-bottom: 1.3rem;
    padding: 1rem;
}

.locally-sourced-img {
    width: 87vw;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07),
        0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
    margin-bottom: 4rem;
    align-self: center;
}
.locally-sourced-container {
    @include container((flex), (column), (100vw), (null));
    background-color: white;
    transform: translateY(-50px);
    align-items: center;
    margin-bottom: 2rem;
}

.menu-items-container {
    @include container((flex), (column), (100vw), (null));
    background-color: $primary-text;
    align-items: center;
    padding-top: 4rem;
}

.menu-items-main-header {
    @include font-style($primary-white, map-get($font-weight-header, "l"), (2rem), (2.5rem), (-0.4px));
    text-align: center;
    width: 65%;
    margin-bottom: 0.8125rem;
}

.menu-items-header {
    @include font-style(
        $primary-white,
        map-get($font-weight-header, "m"),
        map-get($font-size-header, "m"),
        map-get($line-height-header, "m"),
        map-get($letter-spacing, "m")
    );
    text-align: center;
    width: 80%;
    margin-bottom: 0.8125rem;
}

.menu-items-text {
    @include font-style(
        $primary-white,
        map-get($font-weight-body, "body"),
        map-get($font-size-body, "body-2"),
        map-get($line-height-body, "body-2"),
        map-get($letter-spacing, "none")
    );
    text-align: center;
    margin-bottom: 1.3rem;
    padding: 1rem;
}

.menu-item-line {
    border-top: 0.25px solid gray;
    opacity: 0.5;
    width: 87vw;
    margin-bottom: 1.5rem;
}

.menu-item-img {
    width: 87vw;
    margin-bottom: 2.25rem;
}

.family-gathering-container {
    @include container((flex), (column), (100vw), (null));
    background-color: white;
    padding-top: 5rem;
    align-items: center;
    margin-bottom: 10rem;
}

.family-gathering-img {
    width: 87vw;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07),
        0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
    margin-bottom: 3rem;
    align-self: center;
}

.family-gathering-header-small {
    @include font-style(
        $secondary-header,
        map-get($font-weight-header, "s"),
        map-get($font-size-header, "s"),
        map-get($line-height-header, "s"),
        map-get($letter-spacing, "s")
    );
    padding: 0.5rem;
}

/* Design Doc has more undocumented designs ...*/
.family-gathering-header-large {
    @include font-style($secondary-color, map-get($font-weight-header, "l"), (2rem), (2.5rem), (-0.4px));
    margin-bottom: 1rem;
}

.family-gathering-divide {
    border-top: 1px solid $divide;
    width: 15vw;
    transform: translateY(-0.5rem);
}

.family-header-shaded {
    opacity: 0.5;
    transform: translateY(-0.5rem);
}

.reservation-container {
    @include container((flex), (column), (100vw), (328px));
    background-image: image-url("../assets/homepage/ready-bg-mobile@2x.jpg");
    background-repeat: no-repeat;
    background-position: initial;
    align-items: center;
    justify-content: space-evenly;
}

.footer {
    @include container((flex), (column), (100vw), (375px));
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: 1.5rem;
}

.info-container {
    @include container((flex), (column), (100vw), (200px));
    margin-bottom: 10px;
}

.footer-text {
    @include font-style($primary-white, map-get($font-weight-body, "body"), (14px), (10px), (0px));
    margin-bottom: 1.3rem;
    text-align: center;
}

@media screen and (min-width: $tablet-breakpoint) {
    .footer {
        @include container((flex), (row), (100vw), (300px));
        align-items: center;    
        padding-left: 10px;
    }

    .info-container {
        height: 100px;
        width: 33vw;
    }
}

@media screen and (min-width: $desktop-breakpoint) {
    .footer {
        height: 20vh;
        justify-content: space-around;
        padding-left: 10vw;
    }

    .info-container {
        height: 100px;
        width: 33vw;
    }

    .footer-text {
        text-align: left;
    }
}