<div class="roadmap-menu">
    <div class="upvote-dropdown">
        <div class="go-back-btn">
            <img class="go-back-arrow-left" src="../../assets/shared/icon-arrow-left.svg" alt="arrow-left">
            <p class="go-back-text">Go Back</p>
        </div>
        <h2 class="sort-by">Roadmap</h2>
    </div>
    <button class="add-feedback">+ Add Feedback</button>
</div>

<div class="roadmap-mobile-container">
    <div class="nav-planned">
        <p>Planned (2)</p>
    </div>
    <div class="nav-progress">
        <p>In-Progress (3)</p>
    </div>
    <div class="nav-live">
        <p>Live (1)</p>
    </div>
</div>
<div class="in-progress-container">
    <h2 class="create-feedback">In-Progress (3)</h2>
    <p class="label-description">Features currently being developed</p>
</div>
<div class="roadmap-card-container">
    <app-roadmap-card></app-roadmap-card>
</div>