:root {
    --app-background: #ffffff;
    --card-background: #ffffff;
    --text: #000000;
    --background-color-light: #f8f8fb;

    --add-indicator: #ffffff;
    --button-paid-light: #f2fcf9;
    --button-paid-light-indicator: #33d69f;

    --button-pending-light: #ff8f0022;
    --button-pending-light-indicator: #ff8f00;

    --button-draft-light: #979797;
    --button-draft-light-indicator: #373b53;

    --primary-font: #7e88c3;
    --secondary-font: #888eb0;

/*
 * Logo
 */

    --logo-top: #7c5dfa;
    --logo-bottom: #9277ff;

/*
 * Nav
 */
    --menu-divider: #494e6e;

/*
 * View card
 */

    --view-card-top: #f9fafe;
    --view-card-bottom: #373b53;

 /*
  * Buttons
  */

    --btn-background-edit: #ebecf3;
    --btn-background-delete: #ec5757;
    --btn-background-mark: #7c5dfa;

    --btn-add: #f9fafe;
    --btn-add-hover: #dfe3fa;
}
