<div class=main-container>
    <img class="hero-shrimp" srcset="
    ../../assets/booking/hero-bg-mobile@2x.jpg 350w,
    ../../assets/booking/hero-bg-tablet@2x.jpg 768w,
    ../../assets/booking/hero-bg-desktop@2x.jpg 1440w
    " src="../../assets/booking/hero-bg-mobile@2x.jpg" alt="hero-bg-mobile">
    <div class="hero-container-transparent">

        <div class="hero-desktop-container">
            <h2 class="hero-header-logo"><a class="home-logo-link" routerLink="/home"> dine </a></h2>
            <h1 class="hero-header">Reservations</h1>
            <p class="hero-text">
                We can’t wait to host you. If you have any special requirements please feel free to call on the phone
                number
                below. We’ll be happy to accommodate you.
            </p>
            <button class="book-button-transparent reserve-button"
                onclick="document.getElementById('name').focus()">RESERVE
                PLACE</button>
        </div>
        <!-- Template-Driven Forms!-->
        <div class="form-container">
            <form (ngSubmit)="onSubmit(reservationForm)" #reservationForm="ngForm" [hidden]="submitted">
                <div class="form-group">
                    <input type="text" class="form-control form-input" id="name" required [(ngModel)]="reservation.name"
                        name="name" #name="ngModel" placeholder="Name" onfocus="this.placeholder = ''"
                        onblur="this.placeholder = 'Name'" [ngClass]="
                            {'error-message': !name.valid && !name.untouched}">

                    <!-- Error Message Name-->
                    <div [hidden]="name.valid || name.untouched" class="error">
                        Name is required
                    </div>

                    <input type="text" class="form-control form-input" id="email" required
                        pattern="[^@\s]+@[^@\s]+\.[^@\s]+" [(ngModel)]="reservation.email" name="email" #email="ngModel"
                        placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'"
                        [ngClass]="
                            {'error-message': !email.valid && !email.untouched}">
                    <!-- Error Message Email-->
                    <div [hidden]="email.valid || email.untouched" class="error">
                        Email is required
                    </div>

                    <label for=" time" class="label">Pick A Date</label>
                    <div class="date-container">
                        <input type="text" pattern="\d*" class="date-input" id="month" required maxlength="2"
                            placeholder="MM" name="month" #month="ngModel" [(ngModel)]="reservation.month" [ngClass]="
                            {'error-message': 
                            (!month.valid && !month.untouched) || (!day.valid && !day.untouched) || (!year.valid && !year.untouched)
                        }">

                        <input type="text" pattern="\d*" class="date-input" id="day" required maxlength="2"
                            placeholder="DD" name="day" #day="ngModel" [(ngModel)]="reservation.day" [ngClass]="
                            {'error-message': 
                            (!month.valid && !month.untouched) || (!day.valid && !day.untouched) || (!year.valid && !year.untouched)
                        }">

                        <input type="text" pattern="\d*" class="date-input" id="year" required maxlength="4"
                            placeholder="YYYY" name="year" #year="ngModel" [(ngModel)]="reservation.year" [ngClass]="
                            {'error-message': 
                            (!month.valid && !month.untouched) || (!day.valid && !day.untouched) || (!year.valid && !year.untouched)
                        }">

                    </div>

                    <!-- Error Message Date-->
                    <div *ngIf="(!month.valid && !month.untouched) || (!day.valid && !day.untouched) || (!year.valid && !year.untouched)"
                        class="error">
                        The field is incomplete.
                    </div>
                    <label for="time" class="label">Pick A Time</label>
                    <div class="date-container">
                        <input type="text" pattern="\d*" class="date-input" id="hour" required maxlength="2"
                            placeholder="HH" name="hour" #hour="ngModel" [(ngModel)]="reservation.hour" [ngClass]="
                            {'error-message': 
                            (!hour.valid && !hour.untouched) || (!minute.valid && !minute.untouched)}">
                        <input type="text" pattern="\d*" class="date-input" id="minute" required maxlength="2"
                            placeholder="MM" name="minute" #minute="ngModel" [(ngModel)]="reservation.minute" [ngClass]="
                            {'error-message': 
                            (!hour.valid && !hour.untouched) || (!minute.valid && !minute.untouched)}">
                        <!-- AM/PM !-->
                        <select class="form-control dropdown" id="meridiem" required [ngClass]="
                            {'error-message': 
                            (!hour.valid && !hour.untouched) || (!minute.valid && !minute.untouched)}">
                            <option>AM</option>
                            <option>PM</option>
                        </select>
                    </div>
                    <!-- Error Message Time-->
                    <div *ngIf="(!hour.valid && !hour.untouched) || (!minute.valid && !minute.untouched)" class="error">
                        The field is incomplete.
                    </div>
                    <div class="persons-container">
                        <button class="persons-button-minus" (click)="onSubtract()"></button>
                        <input type="text" class="persons-input" readonly [value]="getPeople()">
                        <button class="persons-button-plus" (click)="onAdd()"></button>
                    </div>
                </div>
                <!-- Submit !-->
                <button type="submit" class="btn btn-success book-button-reservation"
                    (click)="touchAll(reservationForm)">MAKE RESERVATION</button>
            </form>
            <!-- Confirm Reservation Submission-->
            <div class="reservation-submitted" [hidden]="!submitted">
                <h1>We'll see you soon.</h1>
                <div class="row">
                    <div class="col-xs-3">We'll see you {{ reservation.name }} soon</div>
                    <div class="col-xs-9"></div>
                </div>
                <br>
                <button class="btn btn-primary" (click)="toggleSubmitted()">Edit</button>
            </div>
        </div>
    </div>

    <div class="filler-container" id="scroll">
        <img class="pattern-img"
            srcset="../../assets/patterns/null.jpg 1w, ../../assets/patterns/pattern-curve-bottom-right.svg 768w"
            src="../../assets/patterns/pattern-curve-bottom-right.svg">

        <picture>
            <source media="(min-width: 768px)" srcset="../assets/patterns/pattern-lines.svg">
            <img class="family-lines">
        </picture>
    </div>