<div>
    <form class="form-container">
        <h2 class="form-header"> Edit <span class="form-header-hash">#</span>{{this.invoiceId | slice:0:6}}</h2>
        <div class="mb-3">
            <h3>Bill From</h3>
            <label for="street" class="form-label">
                <p>Street Address</p>
            </label>
            <input type="text" class="form-control" name="street" [(ngModel)]="invoiceSender.street">
            <label class="form-label">
                <p>City</p>
            </label>
            <input type="text" class="form-control" name="city" [(ngModel)]="invoiceSender.city">
            <label for="postCode" class="form-label">
                <p>Post Code</p>
            </label>
            <input type="text" class="form-control" name="postCode" [(ngModel)]="invoiceSender.postCode">
            <label for="country" class="form-label">
                <p>Country</p>
            </label>
            <input type="text" class="form-control" name="country" [(ngModel)]="invoiceSender.country">
        </div>
        <div class="mb-3">
            <h3>Bill To</h3>
            <label for="name" class="form-label">
                <p>Client's Name</p>
            </label>
            <input type="text" class="form-control" name="name" [(ngModel)]="invoiceClient.name">
            <label for="email" class="form-label">
                <p>Client's Email</p>
            </label>
            <input type="text" class="form-control" name="email" [(ngModel)]="invoiceClient.email">
            <!-- NgModel-->
            <label for="street" class="form-label">
                <p>Street Address</p>
            </label>
            <input type="text" class="form-control" name="street" [(ngModel)]="invoiceClient.street">
            <label class="form-label" for="city">
                <p>City</p>
            </label>
            <input type="text" class="form-control" name="city" [(ngModel)]="invoiceClient.city">
            <label class="form-label" for="postCode">
                <p>Post Code</p>
            </label>
            <input type="text" class="form-control" name="postCode" [(ngModel)]="invoiceClient.postCode">
            <label class="form-label" for="country">
                <p>Country</p>
            </label>
            <input type="text" class="form-control" name="country" [(ngModel)]="invoiceClient.country">
            <label class="form-label" for="dueDate">
                <p>Invoice Due Date</p>
            </label>
            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="MM/DD/YYYY">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker panelClass="datepickerOne"></mat-datepicker>
            </mat-form-field>
            <label class="form-label">
                <p>Payment Terms</p>
            </label>
            <select name="status" id="status" class="form-control" [(ngModel)]="invoicePaymentTerms">
                <option>
                    Net 1 Day
                </option>
                <option>
                    Net 7 Days
                </option>
                <option>
                    Net 14 Days
                </option>
                <option>
                    Net 30 Days
                </option>
            </select>
            <label class="form-label">
                <p>Project Description</p>
            </label>
            <input type="text" class="form-control" value="Graphic Design">
        </div>

        <!-- Items List !-->
        <div class="item-list-container">
            <h2 class="form-header">Item List</h2>
            <div *ngFor="let item of editItems;let index = index;">
                <label class="form-label" for="name">
                    <p>Item Name</p>
                </label>
                <input type="text" class="form-control" name="name{{index}}" [(ngModel)]="editItems[index].name">
                <label class="form-label">
                    <p>Quantity</p>
                </label>
                <input type="number" class="form-control" name="quantity{{index}}"
                    [(ngModel)]="editItems[index].quantity">
                <label class="form-label">
                    <p>Price</p>
                </label>
                <input type="number" step="0.01" min="0" class="form-control" name="price{{index}}"
                    [(ngModel)]="editItems[index].price">
                <label class="form-label" for="total">
                    <p>Total</p>
                </label>
                <input disabled [value]="calculateTotal(item)" class="form-control">
                <div class="trash-can-item-btn" (click)="deleteItem(index)">
                    <img src="../../assets/icon-delete.svg">
                </div>
            </div>
        </div>
        <button class="add-new-item-btn" (click)="addItem()">
            <span>
                <p><b>+ Add New Item</b></p>
            </span>
        </button>
    </form>
</div>

<div class="invoice-edit-delete-mark">
    <button class="invoice-edit-btn">
        <p>Cancel</p>
    </button>
    <button class="invoice-edit-btn">
        <p>Discard</p>
    </button>
    <button class="invoice-delete-btn">
        <p>Delete</p>
    </button>
    <button class="invoice-save-btn">
        <p>Save as Draft</p>
    </button>
    <button class="invoice-mark-btn">
        <p>Save and Send</p>
    </button>
</div>

<!-- Item List -->