@mixin font-style($color, $font-weight, $font-size, $line-height, $letter-spacing) {
    color: $color;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
}

@mixin container($flex, $direction, $width, $height) {
    display: $flex;
    flex-direction: $direction;
    width: $width;
    height: $height;
}
@mixin button-style() {
}
