@import "../../styles/styles";

:host {
    width: 100%;
}

.form-container {
    margin: 0 1.5rem 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
}

.form-header {
    margin-bottom: 1.5rem;
}

.form-header-hash {
    color: var(--secondary-font);
}

.form-control {
    height: 2.25rem;
    width: 100%;
    border: 1px solid var(--form-border);
    border-radius: 0.25rem;
    padding: 0.5rem 1rem 0.25rem 1rem;
    background-color: var(--app-background);
    margin-bottom: 1.5rem;
    color: var(--text);
}

/* Move this to global styles.css */
.form-label {
    display: block;
    color: var(--primary-font);
    margin-bottom: 0.625rem;
}

.form-label p {
    margin-bottom: 0.25rem;
    display: inline;
}

.label-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
form h3 {
    color: var(--logo-top);
    margin-bottom: 1rem;
}

.item-list-container {
    display: flex;
    flex-direction: column;
}

.invoice-edit-delete-mark {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 5.7rem;
    background-color: var(--app-background);
}

/* Perhaps put this in a mixin with width + font color */
.invoice-edit-btn {
    all: unset;
    width: 19.5%;
    height: 3rem;
    border: none;
    background-color: var(--view-card-top);
    color: var(--primary-font);
    text-align: center;
    border-radius: 1.5rem;
}

.invoice-delete-btn {
    all: unset;
    width: 23.7%;
    height: 3rem;
    border: none;
    background-color: var(--btn-background-delete);
    color: var(--app-background);
    text-align: center;
    border-radius: 1.5rem;
}

.invoice-save-btn {
    all: unset;
    width: 23.7%;
    height: 3rem;
    border: none;
    background-color: var(--button-draft-light-indicator);
    color: var(--secondary-font);
    text-align: center;
    border-radius: 1.5rem;
}

.invoice-mark-btn {
    all: unset;
    width: 35%;
    height: 3rem;
    border: none;
    background-color: var(--logo-top);
    color: var(--app-background);
    text-align: center;
    border-radius: 1.5rem;
}

.btn-text {
    line-height: 50px;
}

.trash-can-item-btn {
    text-align: center;
    margin-bottom: 1rem;
}

.trash-can-item-btn img {
    margin: auto;
}

.trash-can-item-btn:hover {
    cursor: pointer;
}

.add-new-item-btn {
    all: unset;
    height: 3rem;
    border: none;
    background-color: var(--view-card-top);
    color: var(--primary-font);
    text-align: center;
    border-radius: 1.5rem;
    transition: 0.3s;
}

.add-new-item-btn:hover {
    background-color: var(--btn-add-hover);
}

.add-edit-grand-total {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*
 * Errors
 */

.error {
    color: var(--btn-background-delete);
    font-size: 0.75rem;
    line-height: 0.9375rem;
    letter-spacing: -0.25px;
}

input.ng-invalid.ng-touched,
input.ng-invalid.ng-dirty {
    border: 2px solid var(--btn-background-delete);
}

/*
 * Overriding Angular Material Style
 */
::ng-deep .mat-form-field-underline {
    display: none;
}

::ng-deep .mat-form-field-suffix {
    transform: translateX(-2rem);
}

::ng-deep .mat-form-field-infix {
    background-color: var(--app-background);
    border-radius: 0.25rem;
    border: 1px solid var(--form-border);
}

.mat-input-element {
    font-size: 0.75rem;
    padding: 5px 0 2px 16px;
    color: var(--text);
}

::ng-deep .mat-datepicker-toggle-default-icon {
    color: var(--text);
}
