<div class="invoice-card-container">
    <div class="invoice-info-left">
        <div class="invoice-number"><h3>RT3080</h3></div>
        <div class="invoice-due-date"> 19 Aug 2021</div>
        <div class="invoice-amount-due">£1,800.90 </div>
    </div>
    <div class="invoice-info-right">
        <div class="invoice-client-name"><p>Jensen Huang</p></div>
        <div class="invoice-status">
            <div class="invoice-status-indicator-paid"></div>
            <div class="invoice-status-info-paid"><p>Paid</p></div>
        </div>
    </div>
</div>
<!-- £ -->