<div class="edit-card-nav">
    <button class="go-back-button" (click)="returnToMain()">
        <span class="go-back-button-container">
            <img src="../../assets/icon-arrow-left.svg">
            <h3>Go Back</h3>
        </span>
    </button>
</div>

<!-- <button mat-button [matMenuTriggerFor]="menu" class="filter-button">
    <span class="filter-button-container">
        <h2 class="filter-select"> Filter </h2>
        <img class="icon-arrow-down" src="../assets/icon-arrow-down.svg">
    </span>
</button> -->