<div class="comment-container">
    <!-- Profile Image -->

    <div class="comment-card-container">
        <h2>Elijah Moss</h2>
        <p>@hexagon.bestagon</p>
        <a>Reply</a>
        <p>Also, please allow styles to be applied based on system preferences. I would love to be able to browse
            Frontend
            Mentor in the evening after my device’s dark mode turns on without the bright background it currently has.
        </p>
    </div>
    <div class="add-comment-container">
        <h2>Add Comment</h2>
        <!-- Input Textarea -->
        <p>250 characters left</p>
        <button>Post Comment</button>
    </div>
</div>