@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500;600&display=swap');

body {
    font-family: Outfit;
    background-color: hsl(217, 54%, 11%);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* Card Styling */
.card-container {
    border-radius: 10px;
    background: hsl(216, 50%, 16%);
    width: 25%;
    margin: 10em auto; 
    padding: 2%;
}

.card-image {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    display: block;
    border-radius: 10px;
}

.card-image-over {
    display: none;
}

.card-header{
    color: hsl(0, 0%, 100%);
    text-align: center;
}

.card-description {
    color: hsl(215, 51%, 70%);
}

/* Card Hover */

.card:hover #view {
    display: block;
}

/* Icon Styling */
.eth-value {
    float: left;
    background: hsl(216, 50%, 16%);
}

.eth-value p {
    color: hsl(178, 100%, 50%);
    background: hsl(216, 50%, 16%);
}

.days-left p{
    color: hsl(215, 51%, 70%);
    background: hsl(216, 50%, 16%);
}

.creation-by {
    background: hsl(216, 50%, 16%);
}

