<!-- Filters based on Invoice State (Draft / Paid / Pending)-->
<ng-container *ngIf="
(showDraftsChecked === true && invoice.status.toLowerCase()=== 'draft') || 
(showPaidChecked === true && invoice.status.toLowerCase() === 'paid') || 
(showPendingChecked === true && invoice.status.toLowerCase() === 'pending')
">
    <div class="invoice-card-container" (click)="viewInvoice()">
        <div class="invoice-info-left">
            <div class="invoice-number">
                <h3>{{invoice.id | slice:0:6}}</h3>
            </div>
            <div class="invoice-due-date">
                {{invoice.dateDue | date:'LLLL-dd-yyyy'}}
            </div>
            <div class="invoice-amount-due">
                £{{invoice.totalDue | number : '1.2-2'}}
                <!-- Currency Pipe -->
            </div>
        </div>
        <div class="invoice-info-right">
            <div class="invoice-client-name">
                <p>{{invoice.client.name}}</p>
            </div>
            <div [ngClass]="getStatus()">
                <div [ngClass]="getStatusDot()"></div>
                <div>
                    <p>{{invoice.status | titlecase }}</p>
                </div>
            </div>
            <img class="gotoinvoice-img" src="../../assets/icon-arrow-right.svg" alt="arrow-right"> 
        </div>
    </div>
</ng-container>
<!-- £ -->