@import "../styles/styles";

.nav-container {
    background-image: url(../../assets/suggestions/mobile/background-header.png);
    background-size: cover;
    display: flex;
    flex-direction: row;
    width: 100vw;
    min-width: 375px;
    height: 4.5rem;
    justify-content: space-between;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    margin-left: 6.4vw;
    padding-bottom: 2%;
}

.nav-menu-btn {
    cursor: pointer;
    margin: 20px;
    align-self: center;
}

.icon-bar {
    width: 25px;
    height: 3px;
    background: $color-4;
    margin: 3px;
    position: relative;
}

.logo-top,
.logo-bottom {
    color: $color-4;
}
.logo-top {
    font-size: 0.9375rem;
}

.logo-bottom {
    font-weight: 400;
}

.roadmap-dialog-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: auto;
    align-items: center;
    padding: 24px 0 24px 0;
}

mat-dialog-content {
    height: 100%;
}

.modal-chip-list {
    padding: 24px;
}

.chip-container,
roadmap-container {
    width: 100%;
    border-radius: 10px;
    background-color: $color-4;
    padding: 24px 16px 24px 16px;
}

/* Implicit rows can solve this */
.roadmap-container {
    display: grid;
    width: 100%;
    background-color: $color-4;
    border-radius: 10px;
    padding: 24px;
    grid-template-columns: [first-col] 10% [col-1] 45% [col2] 45% [last-col];
    grid-template-rows: [first-row] 40px [row-1] 20px [row-2] 20px [row-3] 20px [last-row];
    grid-template-areas:
        "grid-header grid-header grid-view"
        "grid-planned-icon grid-planned grid-planned-count"
        "grid-in-progress-icon grid-in-progress grid-in-progress-count"
        "grid-live-icon grid-live grid-live-count";
}

.roadmap-header {
    grid-area: grid-header;
    font-family: "Jost" !important;
    font-weight: 700 !important;
    color: $color-7 !important;
}

.roadmap-view {
    grid-area: grid-view;
    color: $color-2;
}

.planned-icon, .live-icon, .in-progress-icon {
    border-radius: 9999px;
    width: 10px;
    height: 10px;
    background-color: $color-11;
}