<div class="nav-container">
    <div class="logo">
        <h1 class="logo-top">Frontend Mentor</h1>
        <p class="logo-bottom body-3">Feedback Board</p>
    </div>
    <div (click)="onClick(viewRoadmap)" class="nav-menu-btn">
        <div class="icon-bar" [@hamburgerX]="isHamburger ? 'hamburger' : 'topX'"></div>
        <div class="icon-bar" [@hamburgerX]="isHamburger ? 'hamburger' : 'hide'"></div>
        <div class="icon-bar" [@hamburgerX]="isHamburger ? 'hamburger' : 'bottomX'"></div>
    </div>
</div>

<ng-template #viewRoadmap>
    <mat-dialog-content class="mat-typography">
        <div class="roadmap-dialog-container">
            <div class="chip-container">
                <mat-chip-list class=".modal-chip-list">
                    <mat-basic-chip selected>All</mat-basic-chip>
                    <mat-basic-chip>UI</mat-basic-chip>
                    <mat-basic-chip>UX</mat-basic-chip>
                    <mat-basic-chip>Enhancement</mat-basic-chip>
                    <mat-basic-chip>Bug</mat-basic-chip>
                    <mat-basic-chip>Feature</mat-basic-chip>
                </mat-chip-list>
            </div>

            <div class="roadmap-container">
                <h2 class="roadmap-header">Roadmap</h2>
                <a class="roadmap-view">View</a>
                <div class="planned-icon"></div>
                <p class="roadmap-title planned">Planned</p>
                <p class="roadmap-count planned-count">2</p>
                <div class="in-progress-icon"></div>
                <p class="roadmap-title in-progress">In-Progress</p>
                <p class="roadmap-count">3</p>
                <div class="live-icon"></div>
                <p class="roadmap-title live">Live</p>
                <p class="roadmap-count">1</p>
            </div>
        </div>
    </mat-dialog-content>
</ng-template>