@import "../styles/styles";

.roadmap-card {
    display: grid;
}

/* Refactor into styles */
.feedback-card-container {
    display: flex;
    flex-direction: row; /* change this to row instead of 'column' */
    flex-wrap: wrap; /* added flex-wrap */
    min-width: 327px;
    width: 87.2vw;
    min-height: 260px;
    border-radius: 10px;
    background-color: $color-4;
    margin: 0.5rem auto 0.5rem auto;
    max-width: 500px;
    padding-bottom: 24px;
}

.in-progress-banner {
    width: 100%;
    height: 6px;
    box-sizing: border-box;
    background-color: $color-1;
    border-top-left-radius: 999px;
    border-top-right-radius: 999px;
    margin-bottom: 22px;
}

.status-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 100%;
    margin: 0 24px;
}

.feedback-title {
    font-size: 13px;
    letter-spacing: -0.18px;
    color: $color-7;
    width: 100%;
    margin: 0 24px;
}

.feedback-text {
    font-size: 13px;
    color: $color-8;
    margin: 0 24px 8px 24px;
}

.feedback-status-text {
    font-size: 13px;
    color: $color-8;
}

.feature-list {
    margin-bottom: 16px;
    width: 100%;
    margin: 0 24px;
}

.upvote-btn {
    display: flex;
    flex-direction: row;
    height: 32px;
    padding: 6px 16px 6px 16px;
    background-color: $color-5;
    color: $color-7;
    font-weight: 700;
    font-size: 13px;
    line-height: 19px;
    border-radius: 10px;
    width: 69px;
    box-sizing: border-box;
    margin: 0 50% 0 24px;
}

.arrow-up {
    width: 8px;
    height: 4px;
    margin: auto;
}

.comments {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin: auto;
}

.comments-text {
    display: inline-block;
    font-size: 13px;
    line-height: 19px;
    color: $color-7;
    font-weight: 700;
}

.speech-bubble {
    width: 18px;
    height: 16px;
    margin-right: 4px;
}

/* Refactor into styles */
.planned-icon,
.live-icon,
.in-progress-icon {
    border-radius: 9999px;
    width: 10px;
    height: 10px;
    align-self: center;
    margin-right: 8px;
}

.planned-icon {
    background-color: $color-9;
}

.in-progress-icon {
    background-color: $color-11;
}

.live-icon {
    background-color: $color-10;
}
