/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Spartan:100,200,300,regular,500,600,700,800,900);

* {
    font-family: "Spartan", -apple-system, BlinkMacSystemFont, Segoe UI,
        Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #F8F8FB;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.25rem;
    letter-spacing: -1px;
}

h2 {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.4rem;
    letter-spacing: -0.63px;
}

p {
    font-weight: 500;
    font-size: .75rem;
    line-height: 0.9375rem;
    letter-spacing: -0.25px;
}